<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hakkımızda</title>
</head>
<body>
{% extends "layout.html" %}
{% load static %}
   {% block boyd %}
<img style="float:right; margin:5px" height="200px" width="300px" src="{% static 'h.jfif' %}" alt="..." />
Özellikle COVID-19 salgını ve dünya
genelindeki pandemi sonrası, çeşitli
ülkelere giriş - çıkışların kısıtlanması,
işyerleri ve çalışanların kısıtlamalardan
etklenmesi ve ihracatın sekteye
uğraması sonucu dünya genelinde salgın
kaynaklı bir ekonomik buhran başlamış
ve bu ortamda bulunan küçük ve orta
çaplı işletmelerin nakit akışlarının
bozulması, finansmana erişim
maliyetli ve kısıtlı olması, satış
gelirlerindeki azalma nedeni ile mal
yapıları hızla bozulmuştur.
Bu durumdan etiklenen küresel
ekonomi sebebiyle kurdaki yükselme,
kredi faiz oranlarındak artış, finansal
hazırlığı olmayan işletme ve ticari
kuruluşları ağır etklemiştir.
iFnansal çöküşten etkilenen
ülkelerin merkez bankalarının
fonlama malyetinin artmasıyla
birlikte, esnaflara ve ticari şirketlere
kredi ve destek sağlayan banka ve
kuruluşların üzerindeki yük artmış,
kurun artmasıyla birlikte artan
enflasyon sebebiyle kredi ve destek
sağlayan kuruluşların mevduatı
yüksek maliyetle toplaması yüzünden
yüksek kredi oranları sebebiyle
esnafların ve ticari kuruluşların
finansal durumu gün geçtikçe kötüye
gitmiştir.
Bu probleme ait çözüm, her
katılımcının kar etmesini sağlayarak
ve kripto varlık pazarını kullanarak
amaçlanmıştır.
<center><h2>AMACIMIZ</h2></center>
Esnaf Coin, deflasyon sistemi ile tüm
yatırımcılarının yatırımlarının değerlenmesini
sağlayamayı, ticari kuruluşları yardım ve destek
yoluyla topluluğuna katarak büyümeyi, merkeziyetsiz
finans (De-Fi) ekosistemine erişimi olan kuruluşları
amaçları doğrultusunda yüksek faiz oranları ve ağır
borçlanmalardan koruyarak, ihtiyaçları
doğrultusunda kredilendirerek kazanmayı amaçlar.













{% endblock boyd %}
</body>
</html>